@import url('https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/static/pretendard.css');

* {
  margin: 0;
  padding: 0;
  font-family: 'Pretendard', sans-serif; /* 모든 요소에 Pretendard 폰트 적용 */
}



header {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: #ffffff;
  padding: 10px 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

header .logo {
  width: 40px; /* 로고의 크기를 적절히 조정 */
  height: auto;
  margin-right: -15px; /* 텍스트와 로고 사이 간격 */
}

header h1 {
  font-size: 28px;
  color: #414141;
  font-weight: 800;
}


form {
  padding: 20px;
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  width: 314px;
  margin-top: 200px;
}

form h2 {
  font-size: 28px;
  color: #414141;
  margin-bottom: 40px;
}

form input[type="text"],
form input[type="password"],
form input[type="email"] {
  border: solid 1px #414141;
  padding: 10px;
  margin: 10px 0;
  width: 70%;
  border-radius: 10px;
}

form input[type="submit"] {
  background-color: #0A62D0;
  color: #FFFFFF;
  height: 43px;
  width: 80%;
  border-radius: 10px;
  cursor: pointer;
  margin-top: 20px;
}
.left-align {
  width: 100%;
  text-align: left; /* 왼쪽 정렬 */
  margin-left: 25%; /* 필요한 경우 왼쪽 여백 추가 */
}

/* 회원가입 링크 스타일 */
form p {
  margin-top: 30px; /* 로그인 버튼과의 간격을 조정 */
}

form p a {
  color: #414141; /* 원하는 색상으로 변경 (예: 파란색) */
  text-decoration: none; /* 밑줄 제거 */
  font-size: 13px; /* 텍스트 크기 조정 */
}

form p a:hover {
  color: #0056b3; /* 마우스 오버 시 색상 변경 (선택사항) */
}


